<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/html/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/html/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/html/favicon-16x16.png">
    <link rel="manifest" href="/html/site.webmanifest">

    <title>Video Grid</title>
    <style>
        body,
        html {
            height: 100%;
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            display: grid;
            grid-template-rows: {{ layout.to1fr(layout.rows) }};
            grid-template-columns: {{ layout.to1fr(layout.columns) }};
            width: 100%;
            height: 100%;
        }
        .container > div {
            border: 1px solid #000;
            box-sizing: border-box;
        }
    </style>
    <script src="bundle.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/flv.js/1.5.0/flv.min.js"></script-->
    <!--script src="mpegts.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/mpegts.js@latest/dist/mpegts.min.js"></script>"
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
</head>
<body>
<div id="video-streams-placeholder" class="container">
    <!-- Place holder for actual videos -->
</div>
</body>
<script>
    const videoStreamUrls = [
        {% for lep in livestream_endpoints %}
          [ "{{ lep.stream_format }}", "{{ lep.scheme }}://" + window.location.hostname + ":{{ lep.port }}/{{ lep.path }}" ],
        {% endfor %}
    ];

    const placeholderElement = document.getElementById("video-streams-placeholder");
    videoStreamUrls.forEach((item, index) => {
        let divElement = document.createElement("div");
        let videoElement = document.createElement("video");

        videoElement.setAttribute("id", `video-${index}`);
        videoElement.setAttribute("width", "100%");
        videoElement.defaultMuted = true;
        videoElement.muted = true;
        videoElement.autoplay = true;

        divElement.appendChild(videoElement);
        placeholderElement.appendChild(divElement);

        const jitter = Math.floor(Math.random() * videoStreamUrls.length * .75 * 1000)
        setTimeout(() =>
            {
                let stream_format = item[0];
                let stream_url = item[1];

                if(["unifi"].indexOf(stream_format) >= 0) {
                    let videoPlayer = new viewport.SimplePlayer(
                        `video-${index}`,
                        stream_url);

                } else if(["flv", "mpegts"].indexOf(stream_format) >= 0) {
                    let flvPlayer = mpegts.createPlayer({
                        isLive: true,
                        type: stream_format,
                        url: stream_url
                    });
                    flvPlayer.attachMediaElement(videoElement);
                    flvPlayer.load();
                    flvPlayer.play();

                } else if(["hls"].indexOf(stream_format) >= 0) {
                    const ws = new WebSocket(stream_url);
                    ws.onmessage = (event) => {
                        ws.close();
                        const actual_stream_url = event.data.replace("{server}", window.location.hostname);

                        if (videoElement.canPlayType("application/vnd.apple.mpegurl")) {
                            videoElement.src = actual_stream_url;
                        } else {
                            var hls = new Hls();
                            hls.on(Hls.Events.ERROR, function (event, data) {
                                if(data.details === Hls.ErrorDetails.BUFFER_STALLED_ERROR)
                                    hls.recoverMediaError();
                            });
                            hls.loadSource(actual_stream_url);
                            hls.attachMedia(videoElement);
                        }
                    };
                }
            },
            jitter);
    })
</script>
</html>
