body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-rows: {{ layout.to1fr(layout.rows) }};
    grid-template-columns: {{ layout.to1fr(layout.columns) }};
    width: 100%;
    height: 100%;
}
.container > div {
    border: 1px solid #000;
    box-sizing: border-box;
}
