<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Kiosk</title>
        <style>
            body,
            html {
                height: 100%;
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .container {
                display: grid;
                grid-template-rows: {{ROWS}};
                grid-template-columns: {{COLUMNS}};
                width: 100%;
                height: 100%;
            }
            .container > div {
                border: 1px solid #000;
                box-sizing: border-box;
            }
        </style>
        <script src="https://hlsjs.video-dev.org/dist/hls.js"></script>
    </head>
    <body>
        <div id="cctvs" class="container">
            <!-- Place holder for actual videos -->
        </div>
    </body>
    <script>
        const stream_ids = [{{STREAM_IDS}}]
        const cctvs_element = document.getElementById("cctvs")

        for (let index in stream_ids) {
            let stream_id = stream_ids[index];
            let div_element = document.createElement("div");

            let video_element = document.createElement("video");
            video_element.setAttribute("id", stream_id);
            video_element.setAttribute("width", "100%");
            let hls = new Hls();
            hls.loadSource(window.location.origin + "/streams/" + stream_id + "/index.m3u8");
            hls.attachMedia(video_element);
            hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                video_element.muted = true;
                video_element.play();
            });

            div_element.appendChild(video_element);
            cctvs_element.appendChild(div_element);
        }

        empty_cells = {{GRID_SIZE}} - stream_ids.length
        if (empty_cells > 0) {
          for (let index = 0; index < empty_cells; index++) {
            const div_element = document.createElement("div");
            div_element.setAttribute("background-color", "#223344");
            cctvs_element.appendChild(div_element);
          }
        }
    </script>
</html>
